.container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}
.heading {
  color: #0f172a;
  font-size: 38px;
  font-weight: bold;
  font-family: 'Roboto';
}
.para {
  color: #334155;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto';
}
.description {
  color: #1e293b;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
}
.button {
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 0px;
  height: 30px;
  width: 100px;
  color: #1e293b;
  font-size: 12px;
  font-family: 'Roboto';
}
